.todo {
  color: var(--clr-green);
  padding-bottom: 0.5rem;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(201, 255, 191, 0.1);
  color: var(--clr-green);
  transition: opacity 150ms ease-in-out;
}
.todo:hover {
  opacity: 0.7;
}
.circle {
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid var(--clr-green);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.completed {
  text-decoration: line-through;
}
