.wrapper {
  padding: 2rem;
}
.title {
  font-size: clamp(2.5rem, 4vw + 1rem, 7rem);
  font-weight: 700;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(
    right,
    var(--clr-pink),
    var(--clr-green),
    var(--clr-yellow),
    var(--clr-pink)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-bottom: 1rem;
  text-align: center;
}
.title .logo {
  -webkit-text-fill-color: var(--clr-white);
}
.title::after {
  position: absolute;
  content: "";
  background: -webkit-linear-gradient(
    left,
    var(--clr-pink),
    var(--clr-green),
    var(--clr-yellow),
    var(--clr-pink)
  );
  width: 5em;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
