*,
*::after,
*::before{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --clr-white:rgb(230, 230, 230);
    --clr-dark:rgb(32, 32, 32);
    --clr-pink:#ffafbd;
    --clr-green:#c9ffbf;
    --clr-yellow:#f6e58d;
    --fs-small:1.2rem;
    --fs-medium:1.5rem;
    --fs-large:2rem;
    
}
@media (min-width :600px) {
    :root{
        --fs-small:1.5rem;
    --fs-medium:2rem;
    --fs-large:2.3rem;
    }
    
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--clr-dark);
    background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg");
    color: var(--clr-white);
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-size: var(--fs-small);
    padding: 2rem;height: 100vh;
    position: relative;
    
}

